<div ng-show='isLoggedIn()'>
  <h1>Welcome to the {{group.groupname}} page!</h1>
  <button ng-click="joinGroup()">Join</button>

  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>
          <button ng-click="sortBy('title')">Name</button>
          <span class="sortorder" ng-show="sortPropertyName === 'title'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          <button ng-click="sortBy('lastCommentDate')">Last Modified</button>
          <span class="sortorder" ng-show="sortPropertyName === 'lastCommentDate'" ng-class="{reverse: reverse}"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- When an item in the video library is clicked, setCurrentVideo is called with only the second argument -->
      <tr ng-click="setCurrentVideo(null, video, true)" ng-repeat='video in groupVids | orderBy:sortPropertyName:reverse' >
        <td><img ng-src="{{video.image}}"></td>
        <td>{{video.title}}</td>
        <td>{{video.lastCommentDate | amCalendar:referenceTime:formats}}</td>
        <!-- <td>{{libVideo.comments.length}}</td> -->
        <td>
      </tr>
    </tbody>
  </table>