<!-- side bar -->
<div id="mySidenav" class="sidenav">
  <!-- uncomment below line to show the 'X' sign to close the side bar inside side bar -->
  <!-- <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a> -->
  <!-- <h3 style="color: white">Notes:</h3> -->
    <div class="notes list-group" ng-repeat="comment in videoComments">
      <div class="note list-group-item" ng-click="clickNote(comment)">
        <div>Time: {{formatTime(comment.timestamp)}}</div>
        <div>Note: {{comment.text}}</div>
      </div>
    </div>
</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" ng-click="toggleNav()">&#9776; Bookmarks</span>
</div>

<div ng-hide="inGroupMode()">
  <select class='groupDropdown' ng-model='selectedGroup'>
    <option ng-repeat='group in groupList' value="{{group.groupname}}">
      {{group.groupname}}
    </option>
  </select>
  <button class='btn' ng-click="postGroupVid(selectedGroup)">Post in Group</button>
</div>

<!-- video player -->

<div id="video-player">
  <div class='container'>
    <div class='row'>
      <!-- User note taking window -->
      <div class='col-sm-9'>
        <div id="player"></div>
      </div>

      <!-- Canvas overlay for annotations -->
      <div id="canvasId" class="col-sm-3">
        <div class="canvas">
          <canvas id="c" width="799" height="410" style="border:1px solid #000000"></canvas>
        </div>
        <ul>
          <li style="margin-top:10px;">
            <button id="drawing-mode" class="btn btn-info">Enter drawing mode</button>
            <div style="display: none;" id="drawing-mode-options">
              <label for="drawing-line-width">Line width:</label>
              <input type="range" value="5" min="0" max="100" id="drawing-line-width" style="width: 20%"><br>
              <label for="drawing-color">Line color:</label>
              <input type="color" value="#000000" id="drawing-color"><br>
            </div>
            <button id="save-canvas" class="btn">Save</button>
            <button id="clear-canvas" class="btn">Clear</button>
            <button id="replay-canvas" class="btn">Replay</button>
          </li>
        </ul>
      </div>

      <!-- Video notes window -->
      <div class='col-sm-3 video'>
        <div>{{currentVideoTime}} </div>
        <div>Start Time: {{noteTimestamp}}</div>
        <form name="userNote">
          <!-- <input class='form-control title' type="text" name="title" placeholder="Enter Title..." ng-model="title"/> -->
          <div id="noteTaker">
            <textarea id='testnote' class='form-control' type="text" name="note" rows="16" cols="60" placeholder="Enter Note..."
            ng-model="note" ng-keypress="setTimestamp()"
            />
          </div>
          <button class='btn' ng-click="postNote(note)">Post</button>
          <button class='btn' ng-click="resetNote()">Reset</button>
        </form>
      <!-- *** move into the side bar later -->
        <!-- <h3>Notes:</h3>
        <ul class="notes list-group" ng-repeat="comment in videoComments">
          <li class="note list-group-item" ng-click="clickNote(comment)">
            <div>Time: {{formatTime(comment.timestamp)}}</div>
            <div>Note: {{comment.text}}</div>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</div>


<script>
  // load youtube iframe api
  var tag = document.createElement('script');
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>