<div id="video-player">
  <div class='container'>
    <div class='row'>
      <!-- User note taking window -->
      <div class='col-sm-9'>
        <div id="player"></div>
        <div>{{currentVideoTime}} </div>
        <div>Start Time: {{noteTimestamp}}</div>
        <form name="userNote">
          <input class='form-control title' type="text" name="title" placeholder="Enter Title..." ng-model="title"/>
          <div id="noteTaker">
            <textarea class='form-control' type="text" name="note" placeholder="Enter Note..." 
            ng-model="note" ng-keypress="setTimestamp()"
            />
          </div>
          <button class='btn' ng-click="postNote(title, note)">Post</button>
          <button class='btn' ng-click="resetNote()">Reset</button>
        </form>
      </div>

      <!-- Video notes window -->
      <div class='col-sm-3'>
        <h3>Notes:</h3>
        <ul class="notes list-group" ng-repeat="comment in videoComments">
          <li class="note list-group-item" ng-click="clickNote(comment)">
            <div>Title: {{comment.title}}</div>
            <div>Time: {{formatTime(comment.timestamp)}}</div>
            <div>Note: {{comment.text}}</div>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</div>

<script>
  // load youtube iframe api
  var tag = document.createElement('script');
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>