<!-- assume watch controller has been set -->
<div id="video-player">
  <!-- iFrame for video player will be inserted in the below div -->
  <div id="player"></div>
  
  <div>
    <div>Time: {{currentVideoTime}} </div>
    <form name="userNote" ng-submit="postNote(title, note)">
      <input placeholder="Enter Title..." ng-model="title"/>
      <div id="noteTaker">
        <input placeholder="Enter Note..." ng-model="note"/>
      </div>
      <button>Post Note</button>
    </form>
  </div>
</div>