<!-- This is the page where users can search for a video then click on it to watch/take notes on it -->
<!-- A user can also view the videos that they have already commented on to view it and its notes -->
<div>
  <div class='container'>
    <div class='row'>
      <div class='search-results col-sm-8'>
        <ul class="list-group">
          <!-- When an item in the search results is clicked, setCurrentVideo is called with only the first argument -->
          <li class="list-group-item" ng-click="setCurrentVideo(video, null)" ng-repeat="video in videos">
            <img ng-src={{video.snippet.thumbnails.default.url}}>
            {{$index + 1}} {{video.snippet.title}} 
            <div>{{video.snippet.description}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>