<div ng-show='isLoggedIn()'>
  <h1>Welcome {{username}}!</h1>
    <!-- Video Library -->
    <div class='video-library col-sm-4'>
      <h2>Video Library</h2>
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>
              <button ng-click="sortBy('title')">Name</button>
              <span ng-class="reverse ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-top'" ng-show="sortPropertyName === 'title'"></span>
            </th>
            <th>
              <button ng-click="sortBy('lastCommentDate')">Last Modified</button>
              <span ng-class="reverse ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-top'" ng-show="sortPropertyName === 'lastCommentDate'"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- When an item in the video library is clicked, setCurrentVideo is called with only the second argument -->
          <tr ng-click="setCurrentVideo(null, libVideo)" ng-repeat='libVideo in userVideos
            | orderBy:sortPropertyName:reverse' >
            <td><img ng-src="{{libVideo.image}}"></td>
            <td>{{libVideo.title}}</td>
            <td>{{libVideo.lastCommentDate | amCalendar:referenceTime:formats}}</td>
            <td>
          </tr>
        </tbody>
      </table>

    <div>
      <h2>Your Groups:</h2>
      <ul ng-repeat="group in userGroups" ng-click="setCurrentGroup(group)">
        <li>
          <h4 class="userGroup">{{group.groupname}}</h4>
        </li>
      </ul>
    </div>

    </div>
</div>