/* * * * * * * *
 *             *
 *   General   *
 *             *
 * * * * * * * */

body {
  transition: background-color .5s;
}

/* * * * * * * *
 *             *
 *    About    *
 *             *
 * * * * * * * */

 .about {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: white;
 }

.giticons, .linkedicons {
  width: 40px;
  height: 40px;
}

.img1, .img2, .img3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {
  background-image: url('laptop2.jpg');
  width: 100%;
  height: 800px;
  background-color: transparent;
  opacity: 0.65;
  top: 0;
}

.img2 {
  background: url('dancers.jpg');
  background-position: center center;
  background-size: cover;
  height: 800px;
  width: 100%;
  opacity: 0.65;
}

/*#C4A67A; #595959;*/

.img3 {
  background: url('tubeNotesTeamHR.jpg');
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.img4 {

}

.img5 {
  background: black;
  left: 20%;
  top: 1050px;
  width: 450px;
  height: 250px;
  position: absolute;
  opacity: 0.45;
}

.img6 {
  background: red;
  right: 21%;
  top: 1150px;  
  width: 500px;
  height: 300px;
  position: absolute;
  opacity: 0.45;  
}

.sec1 {
  position: absolute;
  width: 30%;
  left: 35%;
  top: 150px;
  text-align: center;
  background-color: red;
  opacity: 0.9;
  color: white;
  font-size: 20px;
  letter-spacing: 6px;
}

.sec2 {
  color: #777;
  background-color: transparent;
  position: absolute;
  top: 600px;
  left: 32%;
  text-align: center;
  border: 2px solid white;
  padding: 10px;
  font-size: 45px;
  z-index: 3;
  color: white;
}

.sec3, .sec4 {
  position: absolute;
  padding: 35px;
  border: 2px solid white;
  font-size: 25px;
  color: white;
  z-index: 5;
}

.sec3 {
  left: 22%;
  top: 1030px;
}

.sec4 {
  right: 23%;
  top: 1210px;
}

  /*color: #666666;*/

.sec5 {
  color: white;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 1700px;
  text-align: center;
}

.creators li, .mediaLinks li {
  display: inline;
  list-style: none;
  font-size: 25px;
  padding-bottom: 30px;
}

.creators li, .mediaLinks a {
  position: absolute;
}

.mediaLinks a {
  top: 200%;
}

.jenn {
  left: 2%;
}

.viv{
  left: 16%;
}

.tim {
  left: 31%;
}

.wells {
  left: 45%;
}

.nick {
  left: 60%;
}

.adam {
  left: 75%;
}

.anton {
  left: 87.5%;
}

.linkedicons {
  position: relative;
  left: 50px;
}

/* * * * * * * *
 *             *
 *   NavBar    *
 *             *
 * * * * * * * */

.navbar-brand {
  color: black !important;
  font-weight: 500;
}

.input-group {
  width: 500px;
}

.list-group-item:hover {
  cursor: pointer;
}

.form-control {
  width: 350px;
}

.title {
  width: 350px;
}

.search-btn {
  top: 3px;
}

.glyphicon {
  height: 20px;
}

#logout {
  float: right;
}


/* * * * * * * *
 *             *
 *   Canvas    *
 *             *
 * * * * * * * */

.canvas {
  position: fixed;
  left: 10.5%;
  z-index: 10;
}

#canvasId > ul {
  list-style: none;
  z-index: 10;
  position: fixed;
  left: 10%;
  top: 85%;
}


/* * * * * * * *
 *             *
 *   SideNav   *
 *             *
 * * * * * * * */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #4d4d4d;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 20px;
  color: black;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  position: fixed;
  top: -3px;
  right: 10px;
  transition: 225ms;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  position : absolute;
  top : 0;
  left : 160px;
  transition : 100ms left;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}


#navigation-toggle {
  position : absolute;
  left : 160px;
  background : rgba(3,159,244,.95);
  color : white;
  text-decoration : none;
  padding : 20px;
}
.show {
  left : 0;
}
.navigation {
  list-style : none;
  padding : 0;
  margin : 0;
}
.navigation-items a {
  display : block;
  background-color : #444;
  color : white;
  line-height : 2em;
  text-decoration : none;
  padding : 10px 30px;
  width : 100px;

}

.navigation-items a:hover {
    background-color : #222;
}

.groupDropdown {
  float: right;
}
.sortorder:after {
  content: '\25b2';
}


.navigation-items a:hover {
  background-color : #222;
}

.userGroup:hover {
  cursor: pointer;
}

.userGroup:hover {
  cursor: pointer;
}

