/* * * * * * * *
 *             *
 *   General   *
 *             *
 * * * * * * * */

body {
  transition: background-color .5s;
  background-color: white;
  color: #545454;
  font: 400 15px/1.8 "Lato", sans-serif;
}



/* * * * * * * *
 *             *
 *    About    *
 *             *
 * * * * * * * */

 .about {
  height: 100%;
  margin: 0;
  color: white;
 }

.img1, .img2, .img3, .img5, .img6 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {
  background-image: url('laptop2.jpg');
  width: 100%;
  height: 1000px;
  background-color: transparent;
  opacity: 0.65;
  top: 0;
}

.img2 {
  background: url('dancers.jpg');
  background-position: center center;
  height: 1000px;
  width: 100%;
  opacity: 0.65;
  background-attachment: fixed;
}

/*#C4A67A; #595959;*/

.img3 {
  background: url('tubeNotesTeamHR.jpg');
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 700px;
  background-attachment: fixed;
}

.img5 {
  background: black;
  left: 20%;
  top: 1400px;
  width: 500px;
  height: 250px;
  position: absolute;
  opacity: 0.45;
}

.img6 {
  background: #FE5656;
  right: 21%;
  top: 1500px;

  width: 500px;
  height: 300px;
  position: absolute;
  opacity: 0.45;
}

.sec1 {
  position: absolute;
  width: 30%;
  left: 35%;
  top: 160px;
  text-align: center;
  background-color: #FE5656;
  color: white;
  font-size: 20px;
  letter-spacing: 6px;
}

.sec2 {
  color: #777;
  background-color: transparent;
  position: absolute;
  top: 740px;
  left: 32%;
  text-align: center;
  border: 2px solid white;
  padding: 10px;
  font-size: 45px;
  z-index: 3;
  color: white;
}

.sec3, .sec4 {
  position: absolute;
  padding: 35px;
  border: 2px solid white;
  font-size: 25px;
  color: white;
  z-index: 5;
}

.sec3 {
  left: 22%;
  top: 1380px;
}

.sec4 {
  right: 23%;
  top: 1560px;
}

  /*color: #666666;*/

.sec5 {
  color: white;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 2100px;
  text-align: center;
}

.creators li, .mediaLinks li {
  display: inline;
  list-style: none;
  font-size: 25px;
  padding-bottom: 30px;
}

.creators li, .mediaLinks a {
  position: absolute;
}

.mediaLinks a {
  top: 200%;
}

.mediaLinks img {
  width: 40px;
  height: 40px;
}

.jenn {
  left: 2%;
}

.viv{
  left: 16%;
}

.tim {
  left: 31%;
}

.wells {
  left: 45%;
}

.nick {
  left: 60%;
}

.adam {
  left: 75%;
}

.anton {
  left: 87.5%;
}

.linkedicons {
  position: absolute;
  left: 50px;
}

/* * * * * * * *
 *             *
 *   NavBar    *
 *             *
 * * * * * * * */

 .navbar {
  margin: 0;
 }

.navbar-brand {
  color: black !important;
  font-weight: 500;
}

.input-group {
  width: 500px;
}

.list-group-item:hover {
  cursor: pointer;
}

.form-control {
  width: 350px;
}

.title {
  width: 350px;
}

.glyphicon {
  height: 20px;
}

#logout {
  float: right;
}

/* * * * * * * *
 *             *
 *    Home     *
 *             *
 * * * * * * * */

.page-title {
  background: #FE5656;
  color: white;
  margin-bottom: 0;
  letter-spacing: 2px;
  height: 70px;
}

.page-title > h1 {
  top: 29;
  position: relative;
}

.page-title .library {
  padding-left: 3px;
}

.home-button {
  border: none;
  background: transparent;
}

.video-library, .home-group {
  /*margin-top: 200px;*/
  height: 100%;
  background: white;
  /*border: 2px solid #545454;*/
}

.home-group h1{
  letter-spacing: 2px;
}

.userGroup {
  list-style: none;
  font-size: 20px;
}

.userGroup:hover {
  cursor: pointer;
}

.userGroup:hover {
  cursor: pointer;
}

.video-library > th {
  border-bottom-color: 545454;
}

.table-box {
  position: absolute;
  top: 20;
  border-bottom-color: #545454 !important;
  width: 100%;
}

.table-box td {
  padding: 10px;
  border-bottom: 2px solid #545454;
  border-top: 2px solid #545454;
}



/* * * * * * * *
 *             *
 *   Canvas    *
 *             *
 * * * * * * * */

#canvasId > ul {
  list-style: none;
  z-index: 10;
  position: fixed;
  left: 6%;
  top: 76%;
}

#canvasId > ul > li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

ul > li > button {
  margin: 3;
  width: 149;
}

#player {
  position: fixed;
  top: 12%;
  left: 8% + 15px;
}

#video-player {
  position: fixed;
  top: 12%;
  left: 8%;
}

#record {
  background-color: #cc181e;
  color: white;
}

#drawing-mode-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 84%;
  left: 10%;
}

#drawing-line-width {
  margin-left: 7;
  margin-right: 10;
}

#drawing-color {
  margin-left: 7;
  margin-right: 10;
}

/* * * * * * * *
 *             *
 *    Notes    *
 *             *
 * * * * * * * */

 .col-sm-3 {
  position: fixed;
  right: 2%;
  top: 14%;
 }

 .col-sm-3 > form > button {
  margin-top: 5;
  background-color: rgba(66, 184, 221, 0.9);
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 }

.col-sm-3 > form > button:hover {
  color: white;
  background-color: rgba(66, 184, 221, 1);
 }

 col-sm-3 > form > button:active {
  color: red;
 }

#noteTaker > textarea {
  height: 350px;
  width: 280px;
}

/* * * * * * * *
 *   Search    *
 *     Bar     *
 * * * * * * * */

 #searchbar {
  display: inline-flex;
  margin-top: 9;
  margin-left: 10;

 }

/* * * * * * * *
 *    Group    *
 *     Btn     *
 * * * * * * * */

#groupPost {
  position: fixed;
  top: 11%;
  right: 7%;
}

#groupPost > button {
  background-color: rgba(66, 184, 221, 0.9);
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#groupPost > button:hover {
  opacity: 75%;
}

/* * * * * * * *
 *  Flashing   *
 *   Record    *
 *   Button    *
 * * * * * * * */

#recButton {
  width: 10px;
  height: 10px;
  font-size: 0;
  background-color: red;
  border: 0;
  border-radius: 10px;
  margin: 10px;
  outline: none;
}

#recButton:hover {
  cursor: default;
}

.notRec{
  background-color: #cc181e;
}

.Rec{
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse{
  0%{
    box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
  }
  65%{
    box-shadow: 0px 0px 5px 7px rgba(173,0,0,.3);
  }
  90%{
    box-shadow: 0px 0px 5px 7px rgba(173,0,0,0);
  }
}

/* * * * * * * *
 *             *
 *   SideNav   *
 *             *
 * * * * * * * */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #4d4d4d;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 20px;
  color: black;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  position: fixed;
  top: -3px;
  right: 10px;
  transition: 225ms;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  position : absolute;
  top : 0;
  left : 160px;
  transition : 100ms left;
}


.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}


#navigation-toggle {
  position : absolute;
  left : 160px;
  background : rgba(3,159,244,.95);
  color : white;
  text-decoration : none;
  padding : 20px;
}

.show {
  left : 0;
}

.navigation {
  list-style : none;
/*  padding : 0;
  margin : 0;*/
}
.navigation-items a {
  display : block;
  background-color : #444;
  color : white;
  line-height : 2em;
  text-decoration : none;
  padding : 10px 30px;
  width : 100px;

}

.navigation-items a:hover {
  background-color : #222;
}

.groupDropdown {
  float: right;
}

.sortorder:after {
  content: '\25b2';
}


.navigation-items a:hover {
  background-color : #222;
}
