.navbar-brand {
  color: black !important;
  font-weight: 500;
}

.input-group {
  width: 500px;
}

.list-group-item:hover {
  cursor: pointer;
}

.form-control {
  width: 500px;
  margin: 5px;
}

.title {
  width: 350px;
}