/* * * * * * * *
 *             *
 *   Canvas    *
 *             *
 * * * * * * * */

.canvas {
  position: fixed;
  left: 10.5%;
  z-index: -10;
}

#canvasId > ul {
  list-style: none;
  z-index: 10;
  position: fixed;
  left: 10%;
  top: 75%;
}


.navbar-brand {
  color: black !important;
  font-weight: 500;
}

.input-group {
  width: 500px;
}

.list-group-item:hover {
  cursor: pointer;
}

.form-control {
  width: 350px;
}

.title {
  width: 350px;
}

.search-btn {
  top: 3px;
}

.glyphicon {
  height: 20px;
}

#logout {
  float: right;
}

/* side bar */
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.7;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 20px;
  color: black;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  /*padding: 16px;*/
  float: right;
  padding-right: 100px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

.sidebar {
    position : absolute;
    top : 0;
    left : -160px;;
    transition : 100ms left;
}
#navigation-toggle {
        position : absolute;
        left : 160px;
        background : rgba(3,159,244,.95);
        color : white;
        text-decoration : none;
        padding : 20px;
}
.show {
    left : 0;
}
.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
}
.navigation-items a {
    display : block;
    background-color : #444;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;
    width : 100px;

}
.navigation-items a:hover {
    background-color : #222;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}

.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.groupDropdown {
  float: right;
}

